<div class="container">
  <div class="row">
    <div class="col">
      <h2>登録情報編集</h2></br></br>
      <%= form_with model: @customer, url: customers_profile_path, local: :true do |f| %>
        <div class="field">
          <%= f.label :氏名 %></br>
          <%= f.text_field :first_name, autofocus: true, class: "first_name" %>　　<%= f.text_field :last_name, autofocus: true, class: "last_name" %>
        </div></br>

        <div class="field">
          <%= f.label :フリガナ %></br>
          <%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %>　　<%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana" %>
        </div></br>

        <div class="field">
          <%= f.label :郵便番号（ハイフンなし） %></br>
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
        </div></br>

        <div class="field">
          <%= f.label :住所 %></br>
          <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
        </div></br>

        <div class="field">
          <%= f.label :電話番号（ハイフンなし） %></br>
          <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
        </div></br>

        <div class="field">
          <%= f.label :メールアドレス %></br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div></br>

        <%= f.submit '編集内容を保存', class: "btn btn-success" %>
        <%= link_to  "退会する", customers_unsubscribe_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
