<div class="container">
    <div class="row">
        <div class="col-6">
        <%= render 'layouts/flash-for-devise' %>
        <h2>マイページ</h2></br></br>

        <div><strong>登録情報</strong> 　　<%= link_to "編集する", customers_profile_edit_path, class: "btn btn-success" %></div></br></br>

        <table class="table table-bordered">
            <tbody>
                <tr><th class="table-active">氏名</th><td><%= current_customer.first_name %> <%= current_customer.last_name %></td></tr>
                <tr><th class="table-active">カナ</th><td><%= current_customer.first_name_kana %> <%= current_customer.last_name_kana %></td></tr>
                <tr><th class="table-active">郵便番号</th><td><%= current_customer.postal_code %></td></tr>
                <tr><th class="table-active">住所</th><td><%= current_customer.address %></td></tr>
                <tr><th class="table-active">電話番号</th><td><%= current_customer.telephone_number %></td></tr>
                <tr><th class="table-active">メールアドレス</th><td><%= current_customer.email %></td></tr></tr>
              </tbody>
        </table></br></br>

        <div><strong>配送先</strong> 　　<%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %></div></br>
        <div><strong>注文履歴</strong>　 <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></div>

        </div>
    </div>
</div>
