<div class="container">
    <div class="row">
      <div class="col">
        <%= render 'layouts/flash-for-devise' %>
        <table>
          <tbody>
            <div class="main">
           <img src="/assets/nagano_cake/Nagano Cake.jpeg", alt="" width="180" height="70">
           <p>
          <span class="welcome">ようこそ、ながのCAKEへ！</span><br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
          </p>
          <h2>オススメ商品</h2>
          <p></p>
          <div class="row">
          <div class="col-1"></div>
          <div class="col-md-10 mx-auto">
          <div class="list-wrap slide-image">
          <% @products.each do |product| %>
           <div class="list-box">
           <div class="image_wrap">
        　<%= link_to product_path(product.id) do %>
        　<%= attachment_image_tag product, :product_image, size: '200x150', class:"attachment product product_image fallback" %>
          <% end %></div>
          <div class="list-comment">
          <span class="list-name"><%= product.product_name %></span><br />
          <span class="list-price">￥<%= product.sales_price.to_s(:delimited) %></span>
          </div>
          </div>
          <% end %>
          </div>
          </div>
          <h4 class="col-md-11 text-md-right"><%= link_to "全ての商品を見る>", products_path, class: "btn-link" %></h4>
          </div>
          </tbody>
      </table>
     </div>
   </div>
</div>