<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文情報入力</h2></br></br>
      <%= render 'layouts/error_messages', validation: @delivery %>
      <%= form_with model: @order, url: orders_confirm_path, local: :true do |f| %>
      <h3>支払い方法</h3></br>

      <label><%= f.radio_button :payment_method, :クレジットカード, checked: true %>クレジットカード</label></br>
      <label><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</label></br></br>

      <h3>お届け先</h3></br>
      <div><label><%= f.radio_button :address_number, 1, checked: true %> ご自身の住所</label></br>
      <label>　　〒<%= current_customer.postal_code %> <%= current_customer.address %></br>　　<%= current_customer.first_name %><%= current_customer.last_name %></label></div></br>

      <div>
        <label>
          <%= f.radio_button :address_number,2 %> 登録済からの選択</label></br>
          　　<%= f.select(:delivery_id, current_customer.deliveries.map { |deli| ["〒 #{deli.full_address}", deli.id] }) %>
      </div></br>

      <table>
      <label><%= f.radio_button :address_number,3 %> 新しいお届け先</label><br />
      <label>郵便番号（ハイフンなし）<%= f.text_field :postal_code, placeholder: "0000000" %></label><br />
      <label>住所　　　　　　　　　　<%= f.text_field :address, placeholder: "東京都渋谷区代々木" %></label><br />
      <label>宛名　　　　　　　　　　<%= f.text_field :addressee, placeholder: "令和道子" %></label>
      </table>

      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

