<div class="container">
  <div class="row">
    <div class="col">
    <h4><%= @customer.first_name %>　<%= @customer.last_name %>さんの会員情報編集</h4>
    <%= form_with model: @customer, url: admin_customer_path, local: :true do |f| %>
    <div class="field">
      <%= f.label :（姓） %><br />
      <%= f.text_field :first_name, autofocus: true, class: "first_name" %>
    </div>

    <div class="field">
      <%= f.label :（名） %><br />
      <%= f.text_field :last_name, autofocus: true, class: "last_name" %>
      </div>

    <div class="field">
      <%= f.label :（セイ） %><br />
      <%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :（メイ） %><br />
      <%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :郵便番号（ハイフンなし） %><br>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </div>

    <div class="field">
      <%= f.label :住所 %><br />
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>

    <div class="field">
      <%= f.label :電話番号（ハイフンなし） %><br>
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    </div>

    <div class="field">
      <%= f.label :アドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  <label><%= f.radio_button :is_deleted,false %>有効</label>
  <label><%= f.radio_button :is_deleted, checked: true %>退会</label>
            


    <div>
    <%= f.submit '変更を保存', class: "btn btn-success"  %>
    </div>
    <% end %>


    </div>
  </div>
</div>