<table class="table table-borderless">
  <tbody>
    <tr>
      <th>購入者</th>
      <td><%= link_to "#{order.customer.first_name + order.customer.last_name}", admin_customer_path(order.customer_id) %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td>〒<%= order.postal_code %> <%= order.address %><br><%= order.addressee %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <td><%= form_with model: [:admin, order], url: admin_order_path(order), method: :patch do |f| %>
          <%= f.select :order_status, Order.order_statuses.keys.map {|k| [k, k]}, { selected: order.order_status }, { style: 'margin-right: 5px;' } %>
          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
        <% end %></td>
    </tr>
  </tbody>
</table>
