<div class="container">
  <div class="row">
   <div class="col-lg-10">
     <h2>商品一覧</h2>
   </div>

   <div class="col-lg-10">
      <table class="table">
       <div class="text-right">
         <%= link_to new_admin_product_path, class: "btn btn-secondary text-right" do %>
         <i class="fas fa-plus-circle"></i>
         <% end %></div>
       <thead>
        <tr>
         <th>商品ID</th>
         <th>商品名</th>
         <th>税抜価格</th>
         <th>ジャンル</th>
         <th></th>
         <th>ステータス</th>
        </tr>
      </thead>

       <tbody>
        <% @search_products.each do |product| %>
        <tr>
         <td><%= product.id %></td>
         <td><%= link_to admin_product_path(product.id) do %>
             <%= product.product_name %></td>
             <% end %>
         <td><%= product.sales_price %></td>
         <td><%= product.genre.name %></td>
         <td></td>
             <% if product.sales_status == true %>
         <td class="text-success">販売中</td>
             <% else %>
         <td class="text-secondary">販売停止中</td>
             <% end %>
        </tr>
        <% end %>
       </tbody>
      </table>
      <%= paginate @products %>
    </div>
  </div>
</div>