<h1>商品新規登録</h1>
<%= form_with model: @product, local:true do |f| %>

<div class="field">
    <%= f.label :product_image, "商品画像" %>
    <%= f.attachment_field :product_image %>
</div>

<div class="field">
    <%= f.label :product_name, "商品名" %>
    <%= f.text_field :product_name %>
</div>

<div class="field">
    <%= f.label :product_description, "商品説明" %>
    <%= f.text_area :product_description %>
</div>

<div class="field">
</div>


<div class="field">
    <%= f.label :sales_price, "価格（税抜き）" %>
    <%= f.text_field :seles_price %>円
</div>

<div class="field">
    <%= f.label :sales_status, "販売ステータス" %>
    <%= f.select :seles_status, [['販売中',true],['販売停止中',false]] %>
</div>


<div><%= f.submit '新規登録' %></div>

<% end %>