<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-6">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <td>商品名</td>
          <td>単価（税込）</td>
          <td>数量</td>
          <td>小計</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <!--画像も入れる-->
          <td><%= cart_item.product.product_name %></td>
          <td><%= cart_item.product.add_tax_sales_price.to_s(:delimited) %></td>
          <td><%= render 'customer/cart_items/cart', cart_item: @cart_item, message: "変更" %></td>
          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to "買い物を続ける", products_path, class: "btn btn-info" %>
  </div>
</div>
