<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h3><a class="nav-link text-light fas fa-store", href="/">nagano_cake</a></h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <!--customerのヘッダー-->
            <div class="nav-link text-light mr-5 mt-3">
              ようこそ <%= current_customer.first_name %> さん
            </div>
            <li><%= link_to ' マイページ', customers_path(current_customer), class: "nav-link text-light fas fa-user-circle" %></li>
            <li><%= link_to ' 商品一覧', products_path, class: "nav-link text-light fas fa-birthday-cake" %></li>
            <li><%= link_to ' カート', cart_items_path, class: "nav-link text-light fas fa-shopping-cart" %></li>
            <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link text-light fas fa-sign-out-alt" %></li>
          <% elsif admin_signed_in? %>
          <!--adminのヘッダー-->
            <li><%= link_to ' 商品一覧', admin_products_path, class: "nav-link text-light fas fa-birthday-cake" %></li>
            <li><%= link_to ' 会員一覧', admin_customers_path, class: "nav-link text-light fas fa-users" %></li>
            <li><%= link_to ' 注文履歴一覧', admin_root_path, class: "nav-link text-light fas fa-list-alt" %></li>
            <li><%= link_to ' ジャンル一覧', admin_genres_path, class: "nav-link text-light fas fa-tags" %></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class:"nav-link text-light fas fa-sign-out-alt" %></li>
          <% else %>
          <!--ログイン前のヘッダー-->
            <li><%= link_to ' About', about_path, class: "nav-link text-light fas fa-grin-stars" %></li>
            <li><%= link_to ' 商品一覧', root_path, class: "nav-link text-light fas fa-birthday-cake" %></li>
            <li><%= link_to ' 新規登録', new_customer_registration_path, class: "nav-link text-light fas fa-user-plus" %></li>
            <li><%= link_to ' ログイン', new_customer_session_path, class: "nav-link text-light fas fa-sign-in-alt" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
